{% extends "layout.html" %}
{% block body %}
<h2 class='no-margin-top'>Create Recipe</h2>
<form action="{{url_for('create_recipe')}}" method="POST" enctype="multipart/form-data">
  <div class="row">  
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="form-group">
      <label for="recipe_name">Name</label>
        <input type="text" class="form-control recipe_name" id="recipe_name" name="recipe_name" placeholder="Recipe name" maxlength="100"{% if recipe.name %} value='{{recipe.name}}' {% endif %}>
      </div>
      <div class="form-group">
        <label for="recipe_servings">Servings</label>
        <input type="text" class="form-control" id="recipe_servings" name="recipe_servings" placeholder='e.g. side for 2 people (optional)' maxlength="100" {% if recipe.servings %} value='{{recipe.servings}}' {% endif %}>
      </div>
      <div class="form-group">
        <label for="recipe_preparation_time">Preparation Time</label>
        <input type="text" class="form-control" id="recipe_preparation_time" name="recipe_preparation_time" placeholder='e.g. 1h30m (optional)' maxlength="100" {% if recipe.preparation_time %} value='{{recipe.preparation_time}}' {% endif %}>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="form-group">
        <label for="recipe_nutritional_info">Nutritional Info</label>
        <textarea class="form-control" id="recipe_nutritional_info" name="recipe_nutritional_info" rows="3" placeholder="(optional)" maxlength="500">{% if recipe.nutritional_info %}{{recipe.nutritional_info}}{% endif %}</textarea>
      </div>
      <div class="form-group">
        <label for="recipe_image">Image</label>
        <input type="file" id="recipe_image" name="recipe_image">
        <p class="help-block">Upload an image of your recipe (optional)</p>
      </div>
    </div>
  </div>
  <div class="row">  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="form-group">
          <label for="recipe_categories">Categories</label>
          <input type="text" class="form-control" id="recipe_categories" name="recipe_categories" placeholder='e.g. mexican, vegetarian, dessert, etc. (optional)' maxlength="100" {% if recipe.categories_string %} value='{{recipe.categories_string}}' {% endif %}>
        </div>
        <div class="form-group">
          <label for="recipe_ingredients">Ingredients</label>
          {% if recipe.ingredients %}
            {% for ingredient in recipe.ingredients %}
              <div class="row initial-ingredient">
                <div class="col-xs-1 col-sm-1 col-md-1 remove-ingredient-wrapper">
                  <span class="glyphicon glyphicon-remove-circle remove-ingredient" aria-hidden="true"></span>
                </div>
                <div class="col-xs-11 col-sm-5 col-md-2">
                  <input type="text" class="form-control" name="recipe_ingredients[quantity][]" placeholder='quantity (optional)' maxlength="100" {% if ingredient.quantity %} value='{{ingredient.quantity}}' {% endif %}>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2">
                  <input type="text" class="form-control" name="recipe_ingredients[unit][]" placeholder='unit (optional)' maxlength="100" {% if ingredient.unit %} value='{{ingredient.unit}}' {% endif %}>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                  <input type="text" class="form-control ingredient-name" name="recipe_ingredients[name][]" placeholder='ingredient' maxlength="100" {% if ingredient.name %} value='{{ingredient.name}}' {% endif %}>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                  <input type="text" class="form-control" name="recipe_ingredients[comment][]" placeholder='other comments (optional)' maxlength="100" {% if ingredient.comment %} value='{{ingredient.comment}}' {% endif %}>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="row" style='display:none;'>
            <div class="col-xs-1 col-sm-1 col-md-1 remove-ingredient-wrapper">
              <span class="glyphicon glyphicon-remove-circle remove-ingredient" aria-hidden="true"></span>
            </div>
            <div class="col-xs-11 col-sm-5 col-md-2">
              <input type="text" class="form-control" name="recipe_ingredients[quantity][]" placeholder='quantity (optional)' maxlength="100">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-2">
              <input type="text" class="form-control" name="recipe_ingredients[unit][]" placeholder='unit (optional)' maxlength="100">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
              <input type="text" class="form-control ingredient-name" name="recipe_ingredients[name][]" placeholder='ingredient' maxlength="100">
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4">
              <input type="text" class="form-control" name="recipe_ingredients[comment][]" placeholder='other comments (optional)' maxlength="100">
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 add-ingredient-wrapper">
              <span class="glyphicon glyphicon-plus-sign add-ingredient" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="recipe_steps">Instruction steps</label>
          {% if recipe.steps %}
            {% for step in recipe.steps %}
              <div class="row">
                <div class="col-xs-1 col-sm-1 col-md-1 remove-step-wrapper">
                  <span class="glyphicon glyphicon-remove-circle remove-step" aria-hidden="true"></span>
                </div>
                <div class="col-xs-11 col-sm-11 col-md-11">
                  <input type="text" class="form-control" name="recipe_steps[]" placeholder='Write instructions here' maxlength="100" {% if step.instructions %} value='{{step.instructions}}' {% endif %}>
                </div>
              </div>
            {% endfor %}
          {% endif %}
          <div class="row" style='display:none;'>
            <div class="col-xs-1 col-sm-1 col-md-1 remove-step-wrapper">
              <span class="glyphicon glyphicon-remove-circle remove-step" aria-hidden="true"></span>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11">
              <input type="text" class="form-control" name="recipe_steps[]" placeholder='Write instructions here' maxlength="100">
            </div>
          </div> 
          <div class="row">
            <div class="col-xs-1 col-sm-1 col-md-1 add-step-wrapper">
              <span class="glyphicon glyphicon-plus-sign add-step" aria-hidden="true"></span>
            </div>
          </div>
        </div>
        <div class="btn-group btn-group-lg" role="group">
            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            <a role="button" class="btn btn-default btn-lg" href="{{url_for('recent_recipes')}}">Cancel</a>
        </div>
      </div>
  </div>
</form>
<script>
$(function() {

    var categories = {{categories|safe}};
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

    // don't navigate away from the field on tab when selecting an item
    $("#recipe_categories").bind( "keydown", function( event ) {
      if ( event.keyCode === $.ui.keyCode.TAB && $( this ).autocomplete( "instance" ).menu.active ) {
        event.preventDefault();
      }
    });

    $("#recipe_categories").autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(categories, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      });

    var ingredients = {{ingredients|safe}};
    $('.add-ingredient').click(function() {
        addButtonRow = $(this).parent().parent();
        newRow = addButtonRow.prev().clone(true);
        addButtonRow.prev().before(newRow);
        newRow.slideDown(function() {
           newRow.find('.ingredient-name').autocomplete({
             source: ingredients
           });
        })
    });

    $('.remove-ingredient').click(function() {
        removeRow = $(this).parent().parent();
        removeRow.slideUp(function() {
            removeRow.remove()
        });
    });

    $('.initial-ingredient .ingredient-name').each(function() {
        $(this).autocomplete({
            source: ingredients
        });
    });

    $('.add-step').click(function() {
        addButtonRow = $(this).parent().parent();
        newRow = addButtonRow.prev().clone(true);
        addButtonRow.prev().before(newRow);
        newRow.slideDown()
    });

    $('.remove-step').click(function() {
        removeRow = $(this).parent().parent();
        removeRow.slideUp(function() {
            removeRow.remove()
        });
    });

});

</script>

{% endblock %}
