{% extends "layout.html" %}
{% block body %}
  <div class="row">
    {% for recipe in recipes %} 
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 recipe-panel">
        <a href="{{url_for('recipe', recipe_id=recipe.id)}}" class="thumbnail nounderline">
          {% if recipe.is_user_favorite %}
            <span class="glyphicon glyphicon-heart pull-right favorite-icon favorited" aria-hidden="true" favorite-link="{{url_for('favorite', recipe_id=recipe.id)}}" unfavorite-link="{{url_for('unfavorite', recipe_id=recipe.id)}}"></span>
          {% else %}
            <span class="glyphicon glyphicon-heart-empty pull-right favorite-icon unfavorited" aria-hidden="true" favorite-link="{{url_for('favorite', recipe_id=recipe.id)}}" unfavorite-link="{{url_for('unfavorite', recipe_id=recipe.id)}}"></span>
          {% endif %}
          <img class="recipe-thumb" src="/static/images/secret_recipe.jpg">
          <div class="caption">
            <h3>{{recipe.name | trim}}</h3>
            {% if recipe.preparation_time | trim | length > 0 %} 
              <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{recipe.preparation_time | trim}}<br>
            {% endif %}
            {% if recipe.servings | trim | length > 0 %} 
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{recipe.servings | trim}}<br>
            {% endif %}
            {% if recipe.round_rating != 0 %}
              {% for i in range(1,6) %}
                {% if recipe.round_rating >= i %}
                  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% else %}
                  <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                {% endif %}
              {% endfor %}
              {{recipe.avg_rating | round(1)}} 
            {% else %}
              <span class="label label-warning label-new-mine">New</span>
            {% endif %}
            {% if recipe.creator_id == g.current_user.id %}
              <span class="label label-primary pull-right label-new-mine label-mine">Mine</span>
            {% endif %}
          </div>
          </a>
      </div>
   {% endfor %}
  </div>
  <div class="row">
    <nav class="col-xs-12 text-center">
      <ul class="pagination">
        <li class="{% if page == 1 %} disabled {% endif %}"><a href="{{url_for(request.endpoint, page=(page-1), **current_query_params)}}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% for i in range(1,page_count+1) %}
          <li class="{% if page == i %} active {% endif %}"><a href="{{url_for(request.endpoint, page=i, **current_query_params)}}">{{i}}</a></li>
        {% endfor %}
        <li class="{% if page == page_count %} disabled {% endif %}"><a href="{{url_for(request.endpoint, page=page_count, **current_query_params)}}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
      </ul>
    </nav>
  </div>

<script>
$(function(){

  unfavoriteOnclick = function(event) {
    $.ajax({
      url: $(this).attr('favorite-link'),
      method: 'PUT',
      context: this,
      success: function() {
        $(this).addClass('favorited')
        $(this).removeClass('unfavorited')
        $(this).removeClass('glyphicon-heart-empty')
        $(this).addClass('glyphicon-heart')
        $(this).unbind('click')
        $(this).click(favoriteOnclick)
      }
    });
    event.preventDefault();
  }
  $('.unfavorited').click(unfavoriteOnclick);

  favoriteOnclick = function(event) {
    $.ajax({
      url: $(this).attr('unfavorite-link'),
      method: 'PUT',
      context: this,
      success: function() {
        $(this).addClass('unfavorited')
        $(this).removeClass('favorited')
        $(this).removeClass('glyphicon-heart')
        $(this).addClass('glyphicon-heart-empty')
        $(this).unbind('click')
        $(this).click(unfavoriteOnclick)
      }
    });
    event.preventDefault();
  }
  $('.favorited').click(favoriteOnclick);  
});
</script>

{% endblock %}